body {
    font-family: Dejavu Sans;
}

@media print {
    p.bodyText {
        font-family: "Times New Roman", serif;
    }
    .no-print, .no-print * {
        display: none !important;
    }
}



.flexbox-mainheader {
    display: flex;
    background: #C9C9C9;
}

    .flexbox-mainheader > span {
        padding: 0.2rem 0 0.2rem 0.6rem;
    }


    .flexbox-mainheader :after {
        content: '|';
        padding: 0 0 0 0.2rem;
        color: #A29FA3;
    }

    .flexbox-mainheader :last-child:after {
        content: '';
    }

.sidebar {

    background: #C9C9C9;
    border-style: dashed;
    border-color: #9D9C9A;
    border-width: thick;
    height: 200px;
    width: 200px;
}

    .sidebar a {
        padding: 0px 80px 0px 0px;
        color: #373BBE;
        display: block;
    }

        .sidebar a:hover {
            color: #064579;
        }

.vasen {
    float: left;
    margin: 1em;
}

.oikea {
    float: right;
    margin: 1em;
}

.clear {
    clear: both;
}

.clear-left {
    clear: right;
}


.flexbox-footer {
    display: flex;
    background: #C9C9C9;
}

.flexbox-footer-1 {
    flex-grow: 1;
}

.flexbox-footer-2 {
    flex-grow: 0;
}
