body {
    font-family: 'Dejavu Sans', sans-serif;
    overflow-x: hidden;
    margin: 0;
}

@media print {
    body {
        font-family: 'Times New Roman', serif;
    }

    .no-print, .no-print * {
        display: none !important;
    }
}

/*Large screen starts when more than 600px*/
@media only screen and (min-width: 600px) {
    div.flexbox-mainheader {
        display: flex;
    }

    div.sidebar {
        display: none;
    }
}

/*Mobile screen starts after 600px*/
@media only screen and (max-width: 600px) {
    div.flexbox-mainheader {
        display: none;
    }

    div.sidebar {
        display: block;
        border-style: none;
    }

    nav.sidebar-long {
        height: 200px;
        width: 230px;
        float: left;
        margin: 1em 0.2em 1em 0.2em;
    }

    nav.sidebar {
        border-style: none;
    }

    h1 {
        font: bold 120%;
    }

    video.localVideo {
        width: 97vw;
        height: calc(97vw*0.6925);
    }

    iframe.youtubeVideo {
        margin: 1em 1em 1em 2em;
    }

    div.main-content {
        clear: both;
    }
    /*experimental css starts here*/
    div.main {
        margin-left: 0;
    }
    /*experimental css ends here*/
    nav.sidebar, div.sidebar {
        margin: 1em 0.2em 1em 0.2em;
    }
}


.myimages-small {
    max-width: 256px;
    max-height: 200px;
    width: auto;
    height: auto;
}

.myimages-medium {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

ul {
    padding-left: 20px;
}

nav > ul {
    margin: 0.2em 0 0.2em 0;
}

figure {
    display: inline-block;
    text-align: center;
}

table {
    display: table;
    border-collapse: collapse;
    border-style: dotted;
    border-color: #9D9C9A;
    margin-left: 0.1em;
    width: 37%;
    height: 100%;
}

th, td {
    display: table-cell;
    border: 1.5px solid #9D9C9A;
    text-align: left;
    height: 2em;
}

.youtubeVideo {
    width: 80vw;
    height: calc(80vw*0.5625);
    border: none;
}

/*experimental css starts here*/
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}

.content {
    height: 100%;
    position: relative;
}

.sidebar-long {
    width: 13em;
    position: absolute;
    left: 0;
    top: 0;
    height: 99.90%;
    background: #C9C9C9;
    border-style: solid;
    border-color: #C9C9C9;
    border-width: thin;
}

.main {
    margin-left: 13.1em;
}

.flexbox-mainheader-fauce {
    margin-left: 13em;
}

/*experimental css ends here*/

.localVideo {
    width: 90vw;
    height: calc(90vw*0.6525);
    background-color: black !important;
}

.sidebar {
    background: #C9C9C9;
    border-style: dashed;
    border-color: #9D9C9A;
    border-width: thick;
    height: 200px;
    width: 235px;
}

    .sidebar a, .sidebar-long a {
        padding: 0.1em 0 0 0;
        color: #373BBE;
    }

        .sidebar a:hover, .sidebar-long a:hover, .flexbox-mainheader a:hover, .flexbox-footer a:hover {
            color: #064579;
        }

.flexbox-mainheader, .flexbox-footer {
    display: flex;
    background: #C9C9C9;
    padding: 0.2rem 0 0.2rem 0.5rem;
}

    .flexbox-mainheader > span {
        padding: 0.2rem 0 0.2rem 0.5rem;
    }

    .flexbox-mainheader :after {
        content: '|';
        padding: 0 0 0 0.2rem;
        color: #A29FA3;
    }

    .flexbox-mainheader :last-child:after {
        content: '';
    }


.flexbox-footer-1 {
    flex-grow: 1;
}

.flexbox-footer-2 {
    flex-grow: 0;
}


.vasen {
    float: left;
    margin: 1em;
}

.vasen-marginless {
    float: left;
    margin: 0;
}

.oikea {
    float: right;
    margin: 1em;
}

.clear {
    clear: both;
}

.clear-left {
    clear: right;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}
