@import "../../css/main.css";

.myimages {
    display: block;
    max-width: 350px;
    max-height: 480px;
    width: auto;
    height: auto;
}

figure {
    display: inline-block;
    text-align: center;
    margin-right: auto;
    text-align: center;
}